<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- fsl and gsl addr -->
    <udp>
        <!-- gsl port -->
        <local_port>9910</local_port>
        <!-- fsl host -->
        <remote_ip>127.0.0.1</remote_ip>
        <!-- fsl port -->
        <remote_port>9010</remote_port>
    </udp>
    <!-- data uds -->
    <data_link_uds>
        <!-- for downlink: fsl is server -->
        <server>
            <path>/tmp/DL_APP1_H</path>
            <receive_buffer_size>1024</receive_buffer_size>
        </server>
        <server>
            <path>/tmp/DL_APP1_L</path>
            <receive_buffer_size>1024</receive_buffer_size>
        </server>
        <server>
            <path>/tmp/DL_APP2_H</path>
            <receive_buffer_size>1024</receive_buffer_size>
        </server>
        <server>
            <path>/tmp/DL_APP2_L</path>
            <receive_buffer_size>1024</receive_buffer_size>
        </server>
        <!-- for uplink: fsl is client -->
        <client name="app1.ul">/tmp/UL_APP1</client>
        <client name="app2.ul">/tmp/UL_APP2</client>
    </data_link_uds>
    <!-- uplink maping: opcode => application uds -->
    <!-- uds names must match client uds names above -->
    <ul_uds_mapping>
        <mapping opcode="1" uds="app1.ul" />
        <mapping opcode="2" uds="app2.ul" />
    </ul_uds_mapping>
    <!-- uds channels for apps to fsl ctrl/status -->
    <ctrl_status_uds>
        <app1>
            <request>
                <path>/tmp/app1_to_fcom</path>
                <receive_buffer_size>1024</receive_buffer_size>
            </request>
            <response>
                <path>/tmp/fcom_to_app1</path>
                <receive_buffer_size>1024</receive_buffer_size>
            </response>
        </app1>
        <app2>
            <request>
                <path>/tmp/app2_to_fcom</path>
                <receive_buffer_size>1024</receive_buffer_size>
            </request>
            <response>
                <path>/tmp/fcom_to_app2</path>
                <receive_buffer_size>1024</receive_buffer_size>
            </response>
        </app2>
        <tod>
            <request>
                <path>/tmp/app2_to_fcom</path>
                <receive_buffer_size>1024</receive_buffer_size>
            </request>
        </tod>
    </ctrl_status_uds>
</config>